<div id="footer">
	<div class="element1 white fantasy bold">
		<p>Comp'O'Kaz</p>
	</div>

	<div class="element1 white sans-serif bold">
		<p>Contact</p>
	</div>

	<div class="element1 white sans-serif bold">
		<p>A propos</p>
	</div>




</div>