<div id="header">
	<div class="element1 white fantasy bold">
		<h1 id="title-logo">Comp'O'Kaz</h1>
	</div>

	<div class="element1 white sans-serif bold">
		<p>S'incrire</p>
	</div>

	<div class="element1 white sans-serif bold">
		<p>Se connecter</p>
	</div>




</div>